<% if current_user %>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li>
            <%= link_to 'Home', "/" %>
        </li>
        <li>
            <%= link_to "Adjust my Accounts", set_up_accounts_path %>
        </li>
        <li>
            <%= link_to "Adjust my IFFT Post hook", adjust_ifttt_hook_path %>
        <li>
        <li>
            <%= link_to 'Logout', signout_path %>
        </li>
    </ul>
    </div>
  </div>
</nav>
<% end %>