<ol>
    <li>Go to: https://ifttt.com/recipes/470751-facebook-dj-post-to-your-page</li>
    <li>Eventually you will need to "connect" your facebook page to ifttt. </li>
    <li>Eventually you will need to "connect" maker hook. (https://ifttt.com/maker). Note down your key: e.g. it look something like this: dp2XUqkdrC8BxnED9mzsqF </li>
    <li>Enter post_to_facebook into the event field</li>
    <li>Click Add</li>
    <li>Put https://maker.ifttt.com/trigger/post_to_facebook/with/key/YOUR_MAKER_KEY" into this box to make it work.</li>
</ol>
<%= form_tag('/adjust_ifttt_hook', remote: true, :authenticity_token => true ) do %>
    <div class="form-group">
        <label for="exampleTextarea">Insert your Maker URL hook here:</label>
        <textarea name="ifttt_hook" class="form-control" id="exampleTextarea" rows="3"><%= @ifttt_hook %></textarea>
        <input type="submit" class="btn btn-default" value="Update my ifttt hook" >
    </div>
<% end %>