<h3>Adjust your IFTTT hook</h3>
<div class="row">
    <%= form_tag('/adjust_ifttt_hook', remote: true, :authenticity_token => true, :class => "col s12" ) do %>
        <div class="row">
            <div class="input-field col s12">
                <input type="text" name="ifttt_hook" id="exampleTextarea" value="<%= @ifttt_hook %>">
                <label for="exampleTextarea">Insert your Maker URL hook here:</label>
            </div>        
            <input type="submit" class="btn waves-effect waves-light" value="Update my ifttt hook" >
        </div>
    <% end %>
</div>
<div class="row">
    <ul>
        <li></li>
        <li>Go to: <%= link_to "IFTT", "https://ifttt.com/recipes/470751-facebook-dj-post-to-your-page" %> </li>
        <li>Eventually you will need to "connect" your facebook page to ifttt. </li>
        <li>Eventually you will need to "connect" maker hook. 
        <li>Enter post_to_facebook into the event field</li>
        <li>Click Add </li>
        <li>Search for the maker channel</li>
        <li>Note down your key: e.g. it look something like this: dp2XUqkdrC8BxnED9mzsqF </li>
        <li>Put https://maker.ifttt.com/trigger/post_to_facebook/with/key/dp2XUqkdrC8BxnED9mzsqF" into this box to make it work.</li>
    </ul>
    <img class="materialboxed" data-caption="How to adjust your IFTTT hook" width="500" src="<%= image_url("tutorial.gif") %>">
</div>