<div class="top-content">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-6 text-center">
                    <%= image_tag "social-dj-logo.png", :class => "img-responsive"%>
                </div>
                <div class="col-xs-12 col-sm-12 col-lg-6">
                    <h1>Surf Facebook, Twitter, Instagram etc.. at the same time and with no distractions.</h1>
                    <div class="description">Social DJ aggregates your favorites Facebook, Twitter, Instagram Pages for you and lets you decide what to post to your page. No stupid ads. No distractions. Just content.
                    </div>
                    <div class="top-download">
                        <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", :class => "btn-lg btn-block btn-primary " %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>