<div class="jumbotron">
        <h1>Social DJ</h1>
        <p class="lead">Social DJ aggregates your favorites Facebook, Twitter, Instagram Pages for you and lets you decide what to post to your page. No stupid ads. No distractions. Just content.</p>
        <p> 
            <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", :class => "btn-lg btn-primary btn-block" %>
        </p>
</div>