
<div class="row">
    <div class="col s12 m12 l6 offset-l3 ">
        <div class="card">
            <div class="card-image">
              <%= image_tag "socialdj.png", :style => "padding:30px;" %>
            </div>
            <div class="card-content">
              <p class="flow-text">The missing rss reader for Facebook, Twitter, Instagram, YouTube, Reddit. No ads. No distractions. Just content.</p>
            </div>
            <div class="card-action">
<!--                 <a class="waves-effect waves-light btn-large" href="/auth/facebook"><i class="mdi mdi-facebook-box left"></i> Sign in</a>
 -->                <%= link_to "Sign in", "/users/sign_in",  {:class => "waves-effect waves-light btn-large", :style=>"width: 100%;"} %> 
            </div>
        </div>
    </div>
</div>
