<h1>Insert the accounts you like to consume here: </h1>
<%= form_tag('/set_up_accounts', remote: true, :authenticity_token => true ) do %>
    <input type="submit" class="btn btn-default" value="Update my accounts" >
    <div class="form-group">
        <textarea name="accounts" class="form-control" id="exampleTextarea" rows="20"><%= @accounts %></textarea>
        <input type="submit" class="btn btn-default" value="Update my accounts" >
    </div>
<% end %>
