<div class="row">
    <div class="col s12 m12 l12">
        <table id="myTable">
         <thead>
          <tr>
            <th>Account</th>
            <th>Number of Posts posted</th>
            <th>Number of Posts in DB</th>
            <th>Percentage of Posts posted</th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |k,v| %>
          <tr>
            <td><%= k %></td>
            <td><%= v.collect{|s| s.posted_by}.flatten.count %></td>
            <td><%= Post.where(:account => k).count %></td>
            <td><%= '%.2f' % (v.collect{|s| s.posted_by}.flatten.count/Post.where(:account => k).count.to_f) %></td>
          </tr>
          <% end %>
        </tbody>
        </table>
    </div>
</div>
<script>
$(document).ready(function(){
    $('#myTable').DataTable({paging: false, searching: false});
});
</script>