
body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;
}

strong { font-weight: 700; }

a, a:hover, a:focus {
	color: #42bfc2;
	text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

h1, h2 {
	margin-top: 10px;
	font-family: 'Montserrat', sans-serif;
	font-size: 42px;
    font-weight: 400;
    line-height: 54px;
}

h3 { font-family: 'Montserrat', sans-serif; }

img { max-width: 100%; }

::-moz-selection { background: #aaa; color: #fff; text-shadow: none; }
::selection { background: #aaa; color: #fff; text-shadow: none; }


/***** Loader *****/

.loader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	overflow: hidden !important;
	z-index: 99999;
}

.loader-img {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -30px 0 0 -30px;
	width: 60px;
	height: 60px;
	background: url("/assets/loading.gif") center center no-repeat;
}


/***** General style, all sections *****/

.section-container {
    margin: 0 auto;
    padding-bottom: 60px;
    color: #aaa;
}

.section-container-full-bg {
	color: #fff;
}

.section-description {
	margin-top: 60px;
    padding-bottom: 10px;
}

.section-description-icon {
	font-size: 56px;
    color: #42bfc2;
    line-height: 56px;
}
.section-container-full-bg .section-description-icon { color: #fff; }

.section-description h2 {
	color: #aaa;
}
.section-container-full-bg .section-description h2 { color: #fff; }

.section-description p {
    margin-top: 30px;
	padding: 0 120px;
    font-size: 22px;
    line-height: 36px;
}

.big-link-1, .big-link-2, .big-link-3, .big-link-4 {
	display: inline-block;
	height: 52px;
	padding: 15px 40px 0 40px;
	background: #42bfc2;
    border: 1px solid #42bfc2;
    font-family: 'Montserrat', sans-serif;
	font-size: 18px;
    font-weight: 400;
    color: #fff;
    line-height: 20px;
    text-transform: uppercase;
    -moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
}
.big-link-1:hover, .big-link-1:focus, .big-link-1:active, .big-link-1:active:focus { background: none; color: #42bfc2; }

.big-link-2 {
	background: #aaa;
	border-color: #aaa;
	color: #fff;
}
.big-link-2:hover, .big-link-2:focus, .big-link-2:active, .big-link-2:active:focus { background: none; color: #aaa; }

.big-link-3 {
	background: #fff;
	border-color: #fff;
	color: #42bfc2;
}
.big-link-3:hover, .big-link-3:focus, .big-link-3:active, .big-link-3:active:focus { background: none; color: #fff; }

.big-link-4 {
	background: #aaa;
	border-color: #aaa;
	color: #fff;
}
.big-link-4:hover, .big-link-4:focus, .big-link-4:active, .big-link-4:active:focus { background: none; border-color: #fff; color: #fff; }


/***** Top menu *****/

nav {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 998;
	background: #42bfc2;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #fff;
    line-height: 32px;
    text-transform: uppercase;
    text-align: center;
}

nav a {
	display: inline-block;
	margin: 0 15px;
	padding: 10px 0;
	color: #fff;
}
nav a:hover { color: #fff; }
nav a:focus { color: #fff; }

.show-menu, .hide-menu {
	position: absolute;
	top: -6px;
	right: 100px;
	padding: 0 20px;
	z-index: 999;
	text-align: center;
}
.hide-menu { top: -1px; }

.show-menu a, .hide-menu a {
	display: inline-block;
	width: 46px;
	height: 48px;
	padding-top: 11px;
	background: #42bfc2;
	font-size: 21px;
	color: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.show-menu a:hover, .hide-menu a:hover { color: #fff; }


/***** Top content *****/

.top-content {
    margin: 0 auto;
    text-align: left;
    color: #aaa;
}

.inner-bg {
    padding: 120px 0 80px 0;
}

.top-content .phone {
	text-align: center;
}

.top-content .text {
	padding-top: 60px;
}

.top-content .logo {
	padding-bottom: 40px;
}

.top-content .logo a {
	display: inline-block;
	width: 278px;
	height: 74px;
	margin: 0;
	padding: 0;
	background: url(/assets/logo.png) left center no-repeat;
	text-indent: -9999px;
}

.top-content .description {
	margin: 40px 0 10px 0;
    font-size: 22px;
    line-height: 36px;
}

.top-content .top-download {
	margin-top: 40px;
}

.top-content .top-download .big-link-1 {
	margin-right: 20px;
}

.top-content .top-download-small {
	margin-top: 35px;
	font-size: 34px;
}

.top-content .top-download-small a {
	margin-right: 30px;
}


/***** Features *****/

.features-container {
	background: #42bfc2;
}

.features-box {
	margin-top: 30px;
}

.features-box h3 {
	padding: 10px 0;
	font-size: 30px;
    font-weight: 400;
    line-height: 34px;
}

.features-box p {
	font-size: 18px;
    line-height: 32px;
}

.features-box .features-box-icon {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    padding-top: 16px;
    background: #fff;
    border: 1px solid #fff;
    font-size: 56px;
    color: #42bfc2;
    -moz-border-radius: 61px;
    -webkit-border-radius: 61px;
    border-radius: 61px;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.features-box .features-box-icon:hover { background: none; border: 1px solid #fff; }
.features-box .features-box-icon:hover i { color: #fff; }


/***** Screenshots *****/

.screenshots-box {
	margin-top: 30px;
	margin-bottom: 20px;
}

.screenshots-box img {
	display: none;
	max-width: 310px;
	-moz-box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
}
.screenshots-box img.screenshot-img-active { max-width: 310px; display: inline; }

.screenshots-nav {
	margin-top: 30px;
}

.screenshots-nav span {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: 0 7px;
	background: none;
	border: 2px solid #42bfc2;
	-moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    cursor: pointer;
}
.screenshots-nav span.screenshots-nav-item-active { background: #42bfc2; }

.screenshots-box-text {
	margin-top: 40px;
	overflow: hidden;
	text-align: left;
}
.screenshots-box-text:first-child { margin-top: 20px; }
.screenshots-box-left .screenshots-box-text { padding-left: 0; padding-right: 30px; }

.screenshots-box-text-icon {
	float: left;
	width: 76px;
	height: 76px;
	border-bottom: 2px dashed #ccc;
	-moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    font-size: 50px;
    color: #aaa;
    line-height: 50px;
    text-align: center;
}

.screenshots-box-text-icon i { vertical-align: middle; }

.screenshots-box-text-icon i:hover {
	-webkit-animation-name: rotate;
	-webkit-animation-duration: .4s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: rotate;
	-moz-animation-duration: .4s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: linear;
	-ms-animation-name: rotate;
	-ms-animation-duration: .4s;
	-ms-animation-iteration-count: 1;
	-ms-animation-timing-function: linear;
	animation-name: rotate;
	animation-duration: .4s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}
@-ms-keyframes rotate { from { -ms-transform: rotate(0deg); } to { -ms-transform: rotate(360deg); } }
@-moz-keyframes rotate { from { -moz-transform: rotate(0deg); } to { -moz-transform: rotate(360deg); } }
@-webkit-keyframes rotate {	from { -webkit-transform: rotate(0deg); } to { -webkit-transform: rotate(360deg); } }
@keyframes rotate {	from { transform: rotate(0deg); } to { transform: rotate(360deg); } }

.screenshots-box-text h3 {
	float: right;
	width: 85%;
	margin-top: 0;
	padding: 0 0 10px 0;
	font-size: 30px;
    font-weight: 300;
    color: #42bfc2;
    line-height: 34px;
}
.section-container-full-bg .screenshots-box-text h3 { color: #fff; }

.screenshots-box-text-description {
	float: right;
	width: 85%;
	font-size: 18px;
    line-height: 32px;
}


/***** Video *****/

.video-box {
	width: 540px;
	margin: 30px auto 20px auto;
	-moz-box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
}


/***** Call to action *****/

.call-to-action-container {
	background: #42bfc2;
}

.call-to-action-buttons {
	padding-top: 30px;
	padding-bottom: 20px;
}

.call-to-action-download .big-link-3 {
	margin-right: 20px;
}

.call-to-action-download-small {
	margin-top: 35px;
	font-size: 34px;
}

.call-to-action-download-small a {
	margin: 0 15px;
	color: #fff;
}
.call-to-action-download-small a:hover { color: #fff; }



/***** Testimonials *****/

.testimonials p {
	padding: 0;
}

.testimonial-single {
	display: inline-block;
}

.testimonial-single p {
	display: none;
}

.testimonial-single-image {
	display: inline-block;
	width: 58px;
	margin: 0 5px 10px 5px;
}

.testimonial-single-image img {
	width: 100%;
	opacity: 0.5;
	cursor: pointer;
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.testimonial-active {
	padding-bottom: 30px;
}


/***** About us *****/

.about-us-box {
	padding-top: 30px;
	padding-bottom: 15px;
}

.about-us-box h3 {
	padding: 10px 0;
	font-size: 30px;
    font-weight: 400;
    line-height: 34px;
}

.about-us-box p {
	font-size: 18px;
    line-height: 32px;
}

.about-us-box .about-us-photo {
    width: 180px;
    height: 180px;
    margin: 0 auto;
}

.about-us-box .about-us-photo img {
	width: 100%;
	-moz-border-radius: 91px;
	-webkit-border-radius: 91px;
	border-radius: 91px;
	-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}

.about-us-box .about-us-social {
    margin-top: 5px;
}


/***** Subscription form *****/

.subscribe-container {
	background: #42bfc2;
}

.subscribe form {
    margin-top: 40px;
    margin-bottom: 20px;
}

.subscribe form input.subscribe-email {
    width: 362px;
    height: 52px;
}

.success-message, .error-message {
    font-size: 22px;
    line-height: 36px;
}

.success-message {
	margin: 20px 0 10px 0;
}

.error-message {
	margin: 10px 0;
}


/***** Contact us *****/

.contact-form {
	padding-top: 30px;
	padding-bottom: 20px;
}

.contact-form p {
	margin: 0;
	font-size: 22px;
	line-height: 36px;
}

.contact-form form {
	margin: 0;
}

.contact-form form input, 
.contact-form form textarea {
    width: 700px;
    height: 52px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.contact-form form textarea {
	height: 162px;
}

.contact-form form button { width: 700px; }

.contact-form form .contact-error {
	border: 2px solid #42bfc2;
}

.contact-form form textarea.contact-error {
	border: 2px solid #42bfc2;
}


/***** Footer *****/

footer {
	padding: 25px 0 20px 0;
	background: #555;
	text-align: right;
}

.footer-copyright {
	margin: 6px 0 0 0;
	font-size: 18px;
    line-height: 32px;
    color: #fff;
    text-align: left;
}

.footer-copyright a, .footer-copyright a:focus { color: #fff; }
.footer-copyright a:hover { color: #fff; border-bottom: 1px dotted #fff; }

