<h3>Select the accounts for your feed:</h3>
<div class="row">
    <div class="col s12 m6 l6">
        <input type="submit" id="select-all" class="btn waves-effect waves-light" style="width: 100%;" value="Select all" >
        <br/>
        <br/>
    </div>
    <div class="col s12 m6 l6">
        <input type="submit" id="select-none" class="btn waves-effect waves-light" style="width: 100%;" value="Select none" >
    </div>
</div>
<div class="row">
  <%= render :partial => "account" %>
</div>
<div class="row">
    <h3>Copy paste additional accounts you like:</h3>
    <%= form_tag('/custom_accounts', remote: true, :authenticity_token => true, :class=>"col s12" ) do %>
        <div class="row">
            <div class="input-field col s12">
                <textarea name="accounts" placeholder="Just paste the links of the accounts e.g. https://www.facebook.com/smbccomics/ or https://twitter.com/Deppenapostroph or https://www.instagram.com/fuckjerry/ or https://www.reddit.com/r/woahdude"class="materialize-textarea" id="exampleTextarea"></textarea>
                <input type="submit" class="btn waves-effect waves-light" style="width: 100%;" value="DONE" >
            </div>
        </div>
    <% end %>
</div>
<script>
$('#select-all').click(function(event) {   
        // Iterate each checkbox
        $(':checkbox').each(function() {
            this.checked = "checked";                        
        });
        $("html, body").animate({ scrollTop: $(document).height() }, 1000);
});
$('#select-none').click(function(event) {   
        // Iterate each checkbox
        $(':checkbox').each(function() {
            this.checked = null;                        
        });
});

// $('#exampleTextarea').each(function () {
//   this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
// }).on('input', function () {
//   this.style.height = 'auto';
//   this.style.height = (this.scrollHeight) + 'px';
// });
</script>