<div class="row">
    <div class="col s12 m12 l12">
        <h3 id="own">Copy and paste social media accounts you like here:</h3>
        <%= form_tag('/custom_accounts', remote: true, :authenticity_token => true, :class=>"col s12" ) do %>
            <div class="row">
                <div class="input-field col s12">
                    <textarea name="accounts" placeholder="Just paste the links of the accounts e.g. https://www.facebook.com/smbccomics/ or https://twitter.com/Deppenapostroph or https://www.instagram.com/fuckjerry/ or https://www.reddit.com/r/woahdude"class="materialize-textarea" id="exampleTextarea"></textarea>
                    <input type="submit" class="btn waves-effect waves-light" style="width: 100%;" value="DONE" >
                </div>
            </div>
        <% end %>
    </div>
</div>
<!-- <div class="row">
    <div class="col s12 m6 l6">
        <input type="submit" id="select-all" class="btn waves-effect waves-light" style="width: 100%;" value="Select all" >
        <br/>
        <br/>
    </div>
    <div class="col s12 m6 l6">
        <input type="submit" id="select-none" class="btn waves-effect waves-light" style="width: 100%;" value="Select none" >
    </div>
</div> -->
<div class="row">
  <div class="col s12 m12 l12">
      <h3>Or select some example accounts for your feed.</h3>
      <%= render :partial => "account" %>
  </div>
</div>

<script>
$('#select-all').click(function(event) {   
        // Iterate each checkbox
        $(':checkbox').each(function() {
            this.checked = "checked";       
            $(this).trigger("change"); // someObject.onchange(); in standard JS
        });
        $("html, body").animate({ scrollTop: $(document).height() }, 1000);
});
$('#select-none').click(function(event) {   
        // Iterate each checkbox
        $(':checkbox').each(function() {
            this.checked = null;                        
        });
});
</script>